.vscode/settings.json
.SocialNetwork/__pycache__/
.Advertising/learners/__pycache__/
.Advertising/environment/__pycache__
dumb_tests.py
UCB_stupid_test.py
social_network_test.ipynb
dumb_tests_adv.py
.dist
test.ipynb
Advertising/enviroment/__pycache__/bid.cpython-39.pyc
.gitignore
.gitignore
.gitignore
*.pyc
bandit_demo.ipynb
network_demo.ipynb
greedy_plot.ipynb
MC_testing.ipynb
sw_utility.ipynb
Advertising/learners/GTS_Learner_gamma.py
network_stats.ipynb
